{% extends "layout.html" %}
{% block content %}
 

      <div class="row">
         <div class="col-md-12">
            <div class="search-menu">
              

      <div class="form-tabs">
              <div class="row">
                <div class="col-md-12">
                  <form method="POST" action="/add_fed_file2">
                        <label class="form-control-label" for="email">Email</label>
                        <input class="form-control form-control-lg" id="emailx" name="emailx" required="" type="text" value="">

                        <select name="size_type">
                          <option value="" disabled selected>Select Federation Size</option>
                          {% for size_type in size_types %}
                              <option value="{{size_type}}">{{size_type}}</option>
                          {% endfor %}
                        </select>

                         <select name="federation">
                          <option value="" disabled selected>Select Federation</option>
                          {% for federation in federations %}
                              <option value="{{federation}}">{{federation}}</option>
                          {% endfor %}
                        </select>


                             {%if data%}

                                {{ data }}
                             {% endif%}
                  </form>
                </div>
              </div>

            </div>

            

          <div class="general-form">
                <div class="main-table result-table">
                    <div class="result-table-wrapper">
                        <div class="sticky-wrap table-sticky">

                            {% for table in tables %}
                               
                                {{ table|safe }}
                            {% endfor %}
                         
                        </div>
                    </div>
                  </div>
          </div>
   
{% endblock content %}