{% extends "layout.html" %}
{% block content %}


<div class="container">
  <div class="row">

      <p>{{q}}</p>
      <div>{{response}}</div>



       <div class="general-form">
                <div class="main-table result-table">
                    <div class="result-table-wrapper">
                        <div class="sticky-wrap table-sticky">

                            {% for table in tables %}

                                {{ table|safe }}
                            {% endfor %}



                        </div>

                        <div class="sticky-thead">
                            {% for table in tables %}

                                {{ table|safe }}
                            {% endfor %}



                        </div>

                        <p style="margin-top:20px;"><a href="#" class="load_more btn btn-blue-light">Load more</a></p>



                    </div>
                  </div>
          </div>
  </div>
</div>

{% endblock %}